* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, red, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Roboto Mono", monospace;
}

.container {
  text-align: center;
  padding: 10px 10px 40px 10px;
}
